.notes-theme input.form-control,
.notes-theme textarea.form-control,
.notes-theme select.form-select {
  background-color: #130e35 !important;
  border: none !important;
  box-shadow: none !important;
  color: #f5f7ff;
}

.notes-theme input.form-control:focus,
.notes-theme textarea.form-control:focus,
.notes-theme select.form-select:focus {
  background-color: #130e35 !important;
  box-shadow: 0 0 0 1px rgba(96, 245, 255, 0.4);
}

.notes-theme .react-select__control {
  background-color: #130e35 !important;
  border: none !important;
  box-shadow: none !important;
}

.notes-theme .react-select__control--is-focused {
  box-shadow: 0 0 0 1px rgba(96, 245, 255, 0.4) !important;
}

.notes-theme .react-select__menu {
  background-color: #130e35 !important;
}

.notes-theme .react-select__option {
  background-color: #130e35;
  color: #f5f7ff;
}

.notes-theme .react-select__option--is-focused {
  background-color: #1b1548;
}

.notes-theme .react-select__multi-value {
  background-color: #1b1548;
}


